{#
Templates for custom form types.

@see https://symfony.com/doc/current/form/create_custom_field_type.html#creating-the-form-type-template
#}

{% block column_string_map_widget %}
    <div class="column-string-map-widget">
        {{- block('collection_widget') -}}

        <button type="button"
            data-collection-add-new-widget-selector="#{{ form.vars.id }}"
            class="btn btn-secondary">{{ 'Add another mapping'|trans }}</button>
    </div>
{% endblock %}

{% block column_string_map_item_row %}
    <div class="row column-string-map-item" id="{{ id }}">
        {% for child in form.children if not child.rendered %}
            <div class="col-5 col-{{ child.vars.name }}">
                <div class="form-group">
                    {{ form_label(child) }}
                    {{ form_widget(child) }}
                    {{ form_help(child) }}
                    {{ form_errors(child) }}
                </div>
            </div>
        {% endfor %}
        <div class="col-2">
            <button type="button" class="btn btn-danger btn-sm" data-collection-remove-widget-selector="#{{ id }}"><i class="fas {{ iconClass('delete') }} fa-fw mr-2"></i><span class="">{{ 'Remove item'|trans }}</span></button>
        </div>
    </div>
{% endblock %}

{# https://symfony.com/blog/new-in-symfony-4-3-simpler-form-theming #}
{% block data_flow_target_widget %}
    <div class="data-flow-target-widget">
        {{- block('collection_widget') -}}
        <div class="row">
            <div class="col-12 text-center">
                <button type="button"
            data-collection-add-new-widget-selector="#{{ form.vars.id }}"
            class="btn btn-outline-secondary">{{ 'Add data target'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block data_flow_target_item_row %}
    <div class="row data-flow-target-item border-bottom pb-3 mb-3" id="{{ id }}">
        <div class="col-12">
            {% for child in form.children if not child.rendered %}
                <div class="form-group">
                    {{ form_label(child) }}
                    {{ form_widget(child) }}
                    {{ form_help(child) }}
                    {{ form_errors(child) }}
                </div>
            {% endfor %}
        </div>
        <div class="col-12">
            <button type="button" class="btn text-danger btn-sm ml-0 pl-0" data-collection-remove-widget-selector="#{{ id }}"><i class="fas {{ iconClass('delete') }} fa-fw mr-2"></i><span class="">{{ 'Remove target'|trans }}</span></button>
        </div>
    </div>
{% endblock %}
