{% extends "layout.html.twig" %}

{% block title %}{{ 'profile.change_password.title'|trans }}{% endblock %}

{% block main %}
    <h1>{{ 'profile.change_password.header'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    {{ form_end(form) }}
{% endblock %}
