{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'security.login.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <form action="{{ path('fos_user_security_check') }}" method="post" class="form-signin">
        {% if error %}
            <div class="alert alert-danger error" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <h1 class="h3 mb-3 font-weight-normal">{{ 'security.login.form.header'|trans }}</h1>
        <label for="username" class="sr-only">{{ 'security.login.form.username.label'|trans }}</label>
        <input type="text" id="username" name="_username" class="form-control" placeholder="{{ 'security.login.form.username.placeholder'|trans }}" required autofocus>
        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="on" id="remember_me" name="_remember_me"> {{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" type="submit">{{ 'security.login.submit'|trans }}</button>
    </form>
{% endblock %}
