{% extends 'data_source/layout.html.twig' %}
{% trans_default_domain 'data_source' %}

{% block title %}{{ 'DataSource'|trans }}{% endblock %}

{% block header %}{{ 'DataSource'|trans }}{% endblock %}

{% block toolbar %}
    <a href="{{ path('data_source_index') }}">{{ 'Back to data source list'|trans }}</a>
{% endblock %}

{% block content %}
    {% embed '_table.html.twig' %}
        {% block tbody %}
​            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ data_source.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ data_source.description }}</td>
            </tr>
            <tr>
                <th>{{ 'TTL'|trans }}</th>
                <td>{{ data_source.ttl }}</td>
            </tr>
            <tr>
                <th>{{ 'Last read at'|trans }}</th>
                <td>{{ data_source.lastReadAt ? data_source.lastReadAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Created by'|trans }}</th>
                <td>{{ data_source.createdBy }}</td>
            </tr>
            <tr>
                <th>{{ 'Updated by'|trans }}</th>
                <td>{{ data_source.updatedBy }}</td>
            </tr>
            <tr>
                <th>{{ 'Created at'|trans }}</th>
                <td>{{ data_source.createdAt ? data_source.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Updated at'|trans }}</th>
                <td>{{ data_source.updatedAt ? data_source.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Data source'|trans }}</th>
                <td>{{ data_source.dataSource }}</td>
            </tr>
            <tr>
                <th>{{ 'Data source options'|trans }}</th>
                <td><pre><code>{{ data_source.dataSourceOptions|yaml_encode(4) }}</code></pre></td>
            </tr>
        {% endblock %}
    {% endembed %}
    {% if is_granted('edit', data_source) %}
        <a class="btn btn-primary btn-small" href="{{ path('data_source_edit', {'id': data_source.id}) }}">{{ 'Edit data source'|trans }}</a>
    {% endif %}
{% endblock %}
