{% extends "layout.html.twig" %}

{% block title %}{{ app.user.username }}{% endblock %}

{% block main %}
    <h1>
        @{{ user.username }}
        <small class="text-muted">{{ user.email }}</small>
    </h1>

    <a class="btn btn-outline-secondary" href="{{ path('fos_user_profile_edit') }}" role="button">{{ 'profile.show.edit_link'|trans }}</a>
{% endblock %}
