{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.request.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'resetting.request.form.header'|trans }}</h1>
        <label for="username" class="sr-only">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="{{ 'resetting.request.username'|trans }}" required autofocus>
        <div class="mb-3">

        </div>
        <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" type="submit">{{ 'resetting.request.submit'|trans }}</button>
    </form>
{% endblock %}
