{% extends 'data_flow/transforms/layout.html.twig' %}
{% trans_default_domain 'data_flow_transforms' %}

{% set title = transform.id ? 'Edit transform'|trans : 'Add transform'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
    {# result of computing columns available for this transform #}
    {% if result.exception|default(false) %}
        <div class="alert alert-danger">
            {{ result.exception.message }}
            {% if previous_transform|default(false) %}
                <a href="{{ path('data_flow_transforms_edit', {data_flow: data_flow.id, id: previous_transform.id}) }}">{{ 'Edit previous transform'|trans }}</a>
            {% endif %}
        </div>
    {% endif %}

    {# @TODO: Add submit button and stuff #}
    {{ form(form) }}
{% endblock %}
