{% extends 'data_flow/layout.html.twig' %}
{% trans_default_domain 'data_flow_transforms' %}

{% block title %}{{ 'Edit flow recipe'|trans }}{% endblock %}

{% block content %}

    <header class="recipe-header row bg-white sticky-top">
        <div class="col-12">
        <div class="row py-1 py-md-3">
                <div class="col-6 col-md-auto">
                    <a href="{{ path('data_flow_index') }}"><i class="fas {{ iconClass('previous') }} fa-fw mr-2"></i>{{ 'Flows'|trans }}</a><span class="text-primary ml-3 mr-3">|</span><a href="{{ path('data_flow_edit', {id: data_flow.id}) }}">{{ data_flow.name }}</a>
                </div>
                <div class="d-none d-md-block col-auto border-left">
                    <span class="text-gray-300">{{ 'Edit flow recipe'|trans }}</span>
                    <span class="text-success ml-1">Saved 1m ago{#TODO: Show time since last save #}</span>
                </div>
                <div class="col-6 col-md-auto ml-auto z-index-1070 text-right">
                    {% if cancel_url is defined %}
                        <a class="btn btn-link btn-sm" href="{{ cancel_url }}">{{ cancel_label|default('Cancel'|trans) }}</a>
                    {% endif %}
                    <button class="btn btn-primary btn-sm mr-1">{{ button_label|default('Save recipe'|trans) }}</button>
                    {# <a data-toggle="collapse" href="#settingsDrawer" role="button" aria-expanded="false" aria-controls="settingsDrawer" title="Open flow settings"><i class="fas {{ iconClass('settings') }} fa-fw mr-2"></i></a> #}
                </div>
            </div>
        </div>
    </header>
    <div class="bg-white row">
        <h1 class="h4 sr-only">{% block header %}{{ 'Edit flow recipe'|trans }}{% endblock %}</h1>
    </div>
    <main role="main" class="row">
        <div class="col-12 bg-white">
            <h1 class="h4 sr-only">{% block header %}{{ 'Edit flow recipe'|trans }}{% endblock %}</h1>
        </div>
        <div class="col-12 col-md-8 border border-white">
            <div class="row bg-white pt-1 pb-2">
                <div class="col-12">
                    <span><i class="fas {{ iconClass('preview') }} fa-fw mr-2"></i>{{ 'Data preview'|trans }}</span><span class="text-success ml-3">Step 0 of 4</span> {# TODO: Show step count from preview #}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="button" class="btn m-0 p-0" data-toggle="popover" title="{{ 'Data preview'|trans }}" data-content="{{ 'The data preview shows the current state of your data at the selected step.'|trans }}"><i class="fas {{ iconClass('help') }} fa-fw"></i></button>
                </div>
                <div class="col-12">
                    <pre>SHOW RESULT</pre>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 border border-white">
            <div class="row bg-white pt-1 pb-2">
                <div class="col-12">
                    <span><i class="fas {{ iconClass('steps') }} fa-fw mr-2"></i>{{ 'Steps'|trans }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="button" class="btn m-0 p-0" data-toggle="popover" title="{{ 'Steps'|trans }}" data-content="{{ 'Edit the steps to change and manipulate your data.'|trans }}"><i class="fas {{ iconClass('help') }} fa-fw"></i></button>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-auto pr-1">
                            <button data-run-flow-transform-id class="btn btn-sm pt-0"><i class="fas {{ iconClass('play') }} fa-fw"></i><span class="sr-only">{{ 'First step'|trans }}</span></button>
                        </div>
                        <div class="col-auto pl-1">
                            <span>0</span>
                        </div>
                        <div class="preview-content">
                            <iframe id="data-flow-preview" data-src="{{ path('data_flow_transforms_preview', {data_flow: data_flow.id, id: '__id__'}) }}" src="{{ path('data_flow_transforms_preview', {data_flow: data_flow.id}) }}"></iframe>
                        </div>
                    </div>
                    {% for transform in data_flow.transforms %}
                        <div class="row">
                            <div class="col-auto pr-1">
                                <a class="btn btn-sm pt-0" href="{{ path('data_flow_transforms_show', {data_flow: data_flow.id, id: transform.id}) }}"><i class="fas {{ iconClass('play') }} fa-fw"></i><span class="sr-only">{{ 'Run to this step'|trans }}</span></a>
                            </div>
                            <div class="col-auto pl-1">
                                <span>{{ loop.index }}</span>
                            </div>
                            <div class="col-auto mr-auto">
                                <span>{{ transform.name }}</span>
                            </div>
                            <div class="col-auto pl-1">
                                <div class="btn-group" role="group" aria-label="Action buttons">
                                    <a href="{{ path('data_flow_transforms_edit', {data_flow: data_flow.id, id: transform.id}) }}" class="btn btn-sm text-primary"><i class="fas {{ iconClass('edit') }} fa-fw mr-1"></i>{{ 'Edit'|trans }}</a>
                                    <form class="form-inline" method="post" action="{{ path('data_flow_transforms_delete', {data_flow: data_flow.id, id: transform.id}) }}">
                                        <button type="submit" class="btn btn-sm text-danger"><i class="fas {{ iconClass('delete') }} fa-fw mr-1"></i>{{ 'Delete'|trans }}</button>
                                    </form>
                                </div>
                            </div>
                            {% for transform in data_flow.transforms %}
                                <div class="row">
                                    <div class="col-auto pr-1">
                                        <button data-run-flow-transform-id="{{ transform.id }}" class="btn btn-sm pt-0"><i class="fas {{ iconClass('play') }} fa-fw"></i><span class="sr-only">{{ 'Run to this step'|trans }}</span></button>
                                    </div>
                                    <div class="col-auto pl-1">
                                        <span>{{ loop.index }}</span>
                                    </div>
                                    <div class="col-auto mr-auto">
                                        <span>{{ transform.name }}</span>
                                    </div>
                                    <div class="col-auto pl-1">
                                        <div class="btn-group" role="group" aria-label="Action buttons">
                                            <a href="{{ path('data_flow_transforms_edit', {data_flow: data_flow.id, id: transform.id}) }}" class="btn btn-sm text-primary"><i class="fas {{ iconClass('edit') }} fa-fw mr-1"></i>{{ 'Edit'|trans }}</a>
                                            <form class="form-inline" method="post" action="{{ path('data_flow_transforms_delete', {data_flow: data_flow.id, id: transform.id}) }}">
                                                <button type="submit" class="btn btn-sm text-danger"><i class="fas {{ iconClass('delete') }} fa-fw mr-1"></i>{{ 'Delete'|trans }}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if transformers|default(false) %}
                                <div class="row">
                                    <div class="col-12 mt-5">
                                        <form method="get" action="{{ path('data_flow_transforms_new', {data_flow: data_flow.id}) }}" class="form">
                                            <div class="form-row">
                                                <div class="col-12">
                                                    <label for="new-tranform-transformer">Add new step</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <select id="new-tranform-transformer" name="transformer" required class="form-control">
                                                        <option></option>
                                                        {% for transformer in transformers %}
                                                            <option value="{{ transformer.class }}">{{ transformer.name|trans }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <button type="submit" class="btn btn-outline-secondary btn-sm">{{ 'Add transform'|trans }}</button>
                                                    {# TODO: Fix - Add transform fails with error #}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% block edit_transforms %}
            {% endblock %}
        </div>
    </main>


{% endblock %}

{% block translations %}
    {{ 'Change type'|trans }}
    {{ 'Merge flows'|trans }}
    {{ 'Rename columns'|trans }}
    {{ 'Select columns'|trans }}
{% endblock %}
