{% macro render_data_set(data_set) %}
    <table class="table">
        {% for row in data_set.rows %}
            {% if loop.first %}
                <tr>
                    {% for column in data_set.columns %}
                        <th>{{ column.name }}:{{ column.type }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
                {% for value in row %}
                    <td>
                        {% if value is iterable %}
                            {{ value|json_encode }}
                        {% elseif value.timestamp is defined %}
                            {{ value|date }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% extends 'data_flow/transforms/layout.html.twig' %}

{% block body %}
    <h1>{{ 'Step %step% of %total%'|trans({'%step%': step, '%total%': result.dataFlow.transforms|length}) }}</h1>

    {% if result.exception %}
        <div class="alert alert-danger">
            <h1>{{ result.exception.message }}</h1>
            <pre>{{ result.exception }}</pre>
        </div>
    {% else %}
        {{ _self.render_data_set(result.lastDataSet) }}
    {% endif %}
{% endblock %}
