{% extends 'data_flow/layout.html.twig' %}
{% trans_default_domain 'data_flow_transforms' %}

{% block title %}{{ 'Data flow recipe step'|trans }}{% endblock %}



{% block content %}
    <div class="row recipe-header">
        <div class="col-12 bg-white">
            <div class="row py-1 py-md-3">
                <div class="col-6 col-md-auto">
                    <a href="{{ path('data_flow_edit', {id: data_flow.id}) }}"><i class="fal {{ iconClass('previous') }} fa-fw mr-2"></i>{{ data_flow.name }}</a>
                </div>
                <div class="d-none d-md-block col-auto border-left">
                    <span class="text-gray-300">{{ 'Edit flow recipe'|trans }}</span>
                    <span class="text-success ml-1">{{ 'Saved %elapsed% ago'|trans({'%elapsed%': data_flow.updatedAt|time_elapsed}) }}</span>
                </div>
                <div class="col-6 col-md-auto ml-auto z-index-1070 text-right">
                    {% if cancel_url is defined %}
                        <a class="btn btn-link btn-sm" href="{{ cancel_url }}">{{ cancel_label|default('Cancel'|trans) }}</a>
                    {% endif %}
                    <button class="btn btn-primary btn-sm mr-1 mr-md-5">{{ button_label|default('Save recipe'|trans) }}</button>
                    <a data-toggle="collapse" href="#settingsDrawer" role="button" aria-expanded="false" aria-controls="settingsDrawer" title="Open flow settings"><i class="fal {{ iconClass('settings') }} fa-fw mr-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <main role="main" class="row recipe-main">
        <div class="col-12 bg-white sr-only">
            <h1 class="h4">{% block header %}{{ 'Edit flow recipe'|trans }}{% endblock %}</h1>
        </div>
        <div class="col-12 col-md-8 border border-white preview">
            <div class="row bg-white pt-1 pb-2">
                <div class="col-12">
                    <span><i class="fal {{ iconClass('preview') }} fa-fw mr-2"></i>{{ 'Data preview'|trans }}</span><span class="text-success ml-3">
                        {{ 'Step %step% of %total%'|trans({'%step%': result.numberOfSteps, '%total%': result.totalNumberOfSteps}) }}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="button" class="btn m-0 p-0" data-toggle="popover" title="{{ 'Data preview'|trans }}" data-content="{{ 'The data preview shows the current state of your data at the selected step.'|trans }}"><i class="fal {{ iconClass('help') }} fa-fw"></i></button>
                </div>
                <div class="col-12 preview-content">
                    {% if result.transformException|default(false) %}
                        <div class="alert alert-danger">
                            <h1>{{ result.transformException.message }}</h1>
                            <pre>{{ result.transformException }}</pre>
                        </div>
                    {% else %}
                        {{ _self.render_data_set(result.lastTransformResult) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 border border-white">
            <div class="row bg-white pt-1 pb-2">
                <div class="col-12">
                    <span><i class="fal {{ iconClass('steps') }} fa-fw mr-2"></i>{{ 'Steps'|trans }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="button" class="btn m-0 p-0" data-toggle="popover" title="{{ 'Steps'|trans }}" data-content="{{ 'Edit the steps to change and manipulate your data.'|trans }}"><i class="fal {{ iconClass('help') }} fa-fw"></i></button>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-auto pr-1">
                            <a class="btn text-success" href="{{ path('data_flow_transforms_index', {data_flow: data_flow.id}) }}">
                                <i class="fal {{ iconClass('play') }} fa-fw mr-1"></i>
                                <span class="sr-only">{{ 'First step'|trans }}</span>
                                <span class="mr-1">{{ 0 + 1 }}</span>
                                <span>{{ 'Raw data from source'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    {% for transform in data_flow.transforms %}
                        <div class="row">
                            <div class="col-auto mr-auto">
                                <a class="btn {{ _self.render_transform_status(loop, result, transform) }}" href="{{ path('data_flow_transforms_show', {data_flow: data_flow.id, id: transform.id}) }}">
                                    <i class="fal {{ iconClass('play') }} fa-fw mr-1"></i>
                                    <span class="sr-only">{{ 'Run to this step'|trans }}</span>
                                    <span class="mr-1">{{ loop.index + 1 }}</span>
                                    <span>{{ transform.name }}</span>
                                </a>
                            </div>
                            <div class="col-auto pl-1">
                                <div class="btn-group" role="group" aria-label="Action buttons">
                                    <a href="{{ path('data_flow_transforms_edit', {data_flow: data_flow.id, id: transform.id}) }}" class="btn btn-sm text-primary"><i class="fal {{ iconClass('edit') }} fa-fw mr-1"></i>{{ 'Edit'|trans }}</a>
                                    <form class="form-inline" method="post" action="{{ path('data_flow_transforms_delete', {data_flow: data_flow.id, id: transform.id}) }}">
                                        <button type="submit" class="btn btn-sm text-danger"><i class="fal {{ iconClass('delete') }} fa-fw mr-1"></i>{{ 'Delete'|trans }}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if transformers|default(false) %}
                    <div class="row">
                        <div class="col-12 mt-5">
                            <form method="get" action="{{ path('data_flow_transforms_new', {data_flow: data_flow.id}) }}" class="form">
                                <div class="form-row">
                                    <div class="col-12">
                                        <label for="new-tranform-transformer">Add new step</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <select id="new-tranform-transformer" name="transformer" required class="form-control">
                                            <option></option>
                                            {% for transformer in transformers %}
                                                <option value="{{ transformer.class }}">{{ transformer.name|trans }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <button type="submit" class="btn btn-outline-secondary btn-sm">{{ 'Add transform'|trans }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% block edit_transforms %}
    {% endblock %}

{% endblock %}

{% block translations %}
    {{ 'Change type'|trans }}
    {{ 'Merge flows'|trans }}
    {{ 'Rename columns'|trans }}
    {{ 'Select columns'|trans }}
{% endblock %}

{% macro render_data_set(data_set) %}
    <table class="table bg-white table-hover rounded-lg mr-3">
        {% for row in data_set.rows %}
            {% if loop.first %}
                <tr>
                    {% for column in data_set.columns %}
                        <th>{{ column.name }}:{{ column.type }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr>
                {% for value in row %}
                    <td>
                        {% if value is iterable %}
                            {{ value|json_encode }}
                        {% elseif value.timestamp is defined %}
                            {{ value|date }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro render_transform_status(loop, result, transform) %}
    {% if result.failedTransform %}
        {% if result.failedTransform.id == transform.id %}
            text-danger
        {% else %}
            text-primary
        {% endif %}
    {% endif %}

    {% if result.numberOfSteps >= loop.index + 1 %}
        text-success
    {% else %}
        text-primary
    {% endif %}
{% endmacro %}
