{% extends 'layout.html.twig' %}
{% trans_default_domain 'data_flow_job' %}

{% block title %}{{ 'Jobs'|trans }}{% endblock %}

{% block header %}{{ 'Jobs'|trans }}{% endblock %}

{% set use_paginator = data_flow_jobs.paginatorOptions is defined %}

{% block content %}
    {% embed '_table.html.twig' %}
        {% block thead %}
            <tr>
                <th>{{ use_paginator ? knp_pagination_sortable(data_flow_jobs, 'Data flow'|trans, 'dataFlow.name') : 'Data flow'|trans }}</th>
                <th>{{ use_paginator ? knp_pagination_sortable(data_flow_jobs, 'Status'|trans, 'e.status') : 'Status'|trans }}</th>
                <th>{{ use_paginator ? knp_pagination_sortable(data_flow_jobs, 'Created at'|trans, 'e.createdAt') : 'Created at'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for data_flow_job in data_flow_jobs %}
                <tr>
                    <td><a href="{{ path('data_flow_show', {id: data_flow_job.dataFlow.id}) }}">{{ data_flow_job.dataFlow.name }}</a></td>
                    <td>{{ data_flow_job.status }}</td>
                    <td>{{ data_flow_job.createdAt ? data_flow_job.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('data_flow_job_show', {'id': data_flow_job.id}) }}">{{ 'show'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'no records found'|trans }}</td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block table_footer %}
            {% if use_paginator %}
                <div class="navigation">
                    {{ knp_pagination_render(data_flow_jobs) }}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
