{{ form_start(form, { 'attr': {'class': 'container-fluid'} }) }}
<div class="row">
    <div class="col-12">
        {# TODO: Actualy show btns in the action_btns block defined in data_flow/layout.html.twig #}
        {% block action_btns %}
            {% if cancel_url is defined %}
                <a class="btn btn-link" href="{{ cancel_url }}">{{ cancel_label|default('Cancel'|trans) }}</a>
            {% endif %}
            <button class="btn btn-success">{{ button_label|default('Save'|trans) }}</button>
        {% endblock %}
    </div>
    <div class="col-12 col-md-4 border border-white">
        <div class="row bg-white pt-1 pb-2">
            <div class="col-12">
                <span><i class="fas {{ iconClass('datasource') }} fa-fw mr-2"></i>Source</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn" data-toggle="popover" title="{{ 'Data source'|trans }}" data-content="{{ 'Add a datasource. You can combine other flows width this source in your recipe.'|trans }}"><i class="fas {{ iconClass('help') }} fa-fw mr-2"></i></button>
            </div>
            <div class="col-12">
                {{ form_widget(form.data_source) }}
                {# <button class="btn btn-outline-secondary">Add data source</button> #}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 border border-white">
        <div class="row bg-white pt-1 pb-2">
            <div class="col-12">
                <span><i class="fas {{ iconClass('recipe') }} fa-fw mr-2"></i>Recipe</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn" data-toggle="popover" title="{{ 'Recipe'|trans }}" data-content="{{ 'Your flows recipe is where you transform the data from your source.'|trans }}"><i class="fas {{ iconClass('help') }} fa-fw mr-2"></i></button>
            </div>
            <div class="col-12">
                <button class="btn btn-outline-secondary">Edit recipe</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 border border-white">
        <div class="row bg-white pt-1 pb-2">
            <div class="col-12">
                <span><i class="fas {{ iconClass('target') }} fa-fw mr-2"></i>Target</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p class="mt-1">Set targets</p>
            </div>
            <div class="col-2 text-right">
                <button type="button" class="btn" data-toggle="popover" title="{{ 'Data target'|trans }}" data-content="{{ 'Data targets is where you define what will happen to your recipes output.'|trans }}"><i class="fas {{ iconClass('help') }} fa-fw mr-2"></i></button>
            </div>
            <div class="col-12">
                {{ form_widget(form.data_targets) }}
                {# <button class="btn btn-outline-secondary">Add another target</button> #}
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="settings-drawer collapse col-12 col-md-3 bg-body shadow-lg pt-md-5" id="settingsDrawer">
        <p class="h6">{{ 'Flow settings'|trans }}</p>
        {{ include('data_flow/_delete_form.html.twig') }}
        {{ form_widget(form.settings) }}
    </div>
</div>
{{ form_end(form) }}

