{% set show_user_info = is_granted('ROLE_SUPER_ADMIN') %}

{% set use_paginator = data_flows.paginatorOptions is defined %}

{% embed '_table.html.twig' %}
    {% block thead %}
        <tr>
            <th>{{ use_paginator ? knp_pagination_sortable(data_flows, 'Name'|trans, 'e.name') : 'Name'|trans }}</th>
            <th class="w-10">{{ 'Data source'|trans }}</th>
            <th><span class="d-none d-xl-table-cell">{{ 'Number of transforms'|trans }}</span><span class="d-table-cell d-xl-none" title="{{ 'Number of transforms'|trans }}">#</span></th>
            {# <th>{{ 'TTL'|trans }}</th> TODO: Can we leave this column out of the list? #}
            <th>{{ use_paginator ? knp_pagination_sortable(data_flows, 'Updated'|trans, 'e.updatedAt') : 'Updated'|trans }}</th>
            <th class="d-none d-xl-table-cell">{{ use_paginator ? knp_pagination_sortable(data_flows, 'Last run'|trans, 'e.lastRunAt') : 'Last run'|trans }}</th>
            {% if show_user_info %}
                <th class="d-none d-xl-table-cell">{{ 'Owner'|trans }}</th>
                {# <th>{{ 'Shared'|trans }}</th> TODO: Can we leave this column out of the list? #}
            {% endif %}
            <th class="text-right">{{ 'Actions'|trans }}</th>
        </tr>
    {% endblock %}
    {% block tbody %}
        {% for data_flow in data_flows %}
            <tr>
                <td><i class="fal {{ iconClass('dataflow') }} fa-fw mr-2 text-gray-300"></i><a href="{{ path('data_flow_show', {id: data_flow.id}) }}">{{ data_flow.name }}</a>
                </td>
                <td>{{ data_flow.dataSource }}</td>
                <td>{{ data_flow.transforms|length }}</td>
                {# <td>{{ data_flow.ttl }}</td> #}
                <td>{{ data_flow.updatedAt ? data_flow.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="d-none d-xl-table-cell">{{ data_flow.lastRunAt ? data_flow.lastRunAt|date('Y-m-d H:i:s') : 'Never' }}</td>
                {% if show_user_info %}
                    <td class="d-none d-xl-table-cell">{{ data_flow.createdBy }}</td>
                    {# <td>{{ data_flow.collaborators|length }}</td> #}
                {% endif %}

                <td class="text-right">
                    {% if is_granted('edit', data_flow) %}
                        <div class="btn-group" role="group" aria-label="">
                            <a href="{{ path('data_flow_edit', {'id': data_flow.id}) }}" class="btn text-primary m-0 p-0 mr-3" data-toggle="tooltip" title="{{ 'Edit flow'|trans }}"><i class="fal {{ iconClass('edit') }} mr-1"></i><span class="sr-only">{{ 'Edit flow'|trans }}</span></a>
                            <a href="{{ path('data_flow_transforms_index', {'data_flow': data_flow.id}) }}" class="btn text-primary m-0 p-0 mr-3 mr-2" data-toggle="tooltip" title="{{ 'Change recipe'|trans }}"><i class="fal {{ iconClass('recipe') }} mr-1"></i><span class="sr-only">{{ 'Change recipe'|trans }}</span></a>
                            <a href="{{ path('data_flow_delete', {'id': data_flow.id}) }}" class="btn text-danger m-0 p-0 mr-3 mr-2" data-toggle="tooltip" title="{{ 'Delete flow'|trans }}"><i class="fal {{ iconClass('delete') }} mr-1"></i><span class="sr-only">{{ 'Delete flow'|trans }}</span></a>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{ 'No records found'|trans }}</td>
            </tr>
        {% endfor %}
    {% endblock %}

    {% block table_footer %}
        {% if use_paginator %}
            <div class="navigation">
                {{ knp_pagination_render(data_flows) }}
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
