{% extends 'layout.html.twig' %}
{% trans_default_domain 'data_flow' %}

{% block title %}{{ 'Data flows'|trans }}{% endblock %}

{% block header %}{{ 'Data flows'|trans }} {{ data_flows.getTotalItemCount }}{% endblock %}

{% block toolbar %}
    <div class="btn-group mr-2" role="group">
        {{ form_start(filterForm, {'attr': {'class': 'form-inline'}}) }}
            {{ form_widget(filterForm.collaborators, {'attr': {'class': 'form-control-sm'}}) }}
        {{ form_end(filterForm) }}
    </div>
    <div class="btn-group mr-2" role="group">
        <a class="btn btn-success btn-sm" href="{{ path('data_flow_new') }}">{{ 'New data flow'|trans }}</a>
    </div>
{% endblock %}

{% block content %}
    {% include 'data_flow/_table.html.twig' with {'data_flows': data_flows} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('data_flow_filter') }}
{% endblock %}
