{% extends 'layout.html.twig' %}
{% trans_default_domain 'data_flow' %}

{% block title %}{{ 'DataFlow'|trans }}{% endblock %}

{% block header %}{{ 'DataFlow'|trans }}{% endblock %}

{% block toolbar %}
    <a href="{{ path('data_flow_index') }}">{{ 'Back to data flow list'|trans }}</a>
{% endblock %}

{% block content %}
    {% embed '_table.html.twig' %}
        {% block tbody %}
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ data_flow.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ data_flow.description }}</td>
            </tr>
            <tr>
                <th>{{ 'Last read at'|trans }}</th>
                <td>{{ data_flow.lastRunAt ? data_flow.lastRunAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Created by'|trans }}</th>
                <td>{{ data_flow.createdBy }}</td>
            </tr>
            <tr>
                <th>{{ 'Updated by'|trans }}</th>
                <td>{{ data_flow.updatedBy }}</td>
            </tr>
            <tr>
                <th>{{ 'Created at'|trans }}</th>
                <td>{{ data_flow.createdAt ? data_flow.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Updated at'|trans }}</th>
                <td>{{ data_flow.updatedAt ? data_flow.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% endblock %}
    {% endembed %}

    <fieldset>
        <legend>{{ 'Recipe'|trans }}</legend>

        <ol>
            {% for transform in data_flow.transforms %}
                <li>
                    {{ transform.transformer|transformer_name }}
                    <pre><code>{{ transform.transformerOptions|yaml_encode(4) }}</code></pre>
                </li>
            {% endfor %}
        </ol>
    </fieldset>

    <fieldset>
        <legend>{{ 'Data targets'|trans }}</legend>

        {% if data_flow.dataTargets %}
            <ol>
                {% for target in data_flow.dataTargets %}
                    <li>
                        {{ target.dataTarget|data_target_name }}
                        <pre><code>{{ target.dataTargetOptions|yaml_encode(4) }}</code></pre>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <div class="alert alert-warning">{{ 'No data targets'|trans }}</div>
        {% endif %}
    </fieldset>

    {% if is_granted('edit', data_flow) %}
        <a class="btn btn-primary" href="{{ path('data_flow_edit', {'id': data_flow.id}) }}">{{ 'Edit data flow'|trans }}</a>
    {% endif %}
{% endblock %}
