<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} | {{ site_name }}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon-16x16.png') }}" sizes="16x16" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}
    </head>
    <body>
        <a class="skippy sr-only sr-only-focusable" href="#content">
            <span class="skippy-text">Skip to main content</span>
        </a>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('base') }}

            <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=51fkhgvx3emczkdkn854sq" async="true"></script>

        {% endblock %}
    </body>
</html>
