{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('layout') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 sidebar">
                <div class="d-flex justify-content-between">
                    <div class="order-0">
                        <a class="navbar-brand" href="{{ path('dashboard_index') }}"><img src="{{ asset('build/images/datatidy-logo.svg') }}" /><span class="sr-only">{{ site_name }}</span></a>
                    </div>
                    <div class="ml-md-0 order-2 order-md-1">
                        <button class="btn btn-link d-md-none" type="button" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="sidebar-nav" aria-expanded="false" aria-label="Toggle navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path></svg></button>
                    </div>
                    <div class="ml-md-auto order-1 order-md-2">
                        <button type="button" class="btn" data-toggle="modal" data-target="#searchModal">
                            <i class="fas {{ iconClass('search') }} mr-2"></i>
                            <span class="sr-only">{{ 'Launch search modal'|trans }}</span>
                        </button>
                    </div>
                </div>
                <nav class="collapse sidebar-links" id="sidebar-nav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="{{ path('dashboard_index') }}" class="nav-link {% if app.request.get('_route') == 'dashboard_index' %}active{% endif %}">
                                <i class="fas {{ iconClass('dashboard') }} fa-fw mr-2"></i>
                                {{ 'Dashboard'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('data_source_index') }}" class="nav-link {% if app.request.get('_route') == 'data_source_index' %}active{% endif %}">
                                <i class="fas {{ iconClass('datasource') }} fa-fw mr-2"></i>
                                {{ 'Data library'|trans({}, 'data_source') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('data_flow_index') }}" class="nav-link {% if app.request.get('_route') == 'data_flow_index' %}active{% endif %}">
                                <i class="fas {{ iconClass('dataflow') }} fa-fw mr-2"></i>
                                {{ 'Flows'|trans({}, 'data_flow') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('data_flow_job_index') }}" class="nav-link {% if app.request.get('_route') == 'data_flow_job_index' %}active{% endif %}">
                                <i class="fas {{ iconClass('job') }} fa-fw mr-2"></i>
                                {{ 'Jobs'|trans({}, 'data_flow_job') }}
                            </a>
                        </li>

                        {% if is_granted('ROLE_USER_ADMIN') %}
                            <li class="nav-item">
                                <a href="{{ path('user_index') }}" class="nav-link {% if app.request.get('_route') == 'user_index' %}active{% endif %}">
                                    <i class="fas {{ iconClass('users') }} fa-fw mr-2"></i>
                                    {{ 'Users'|trans({}, 'user') }}
                                </a>
                            </li>
                        {% endif %}

                        {% if app.user|default(false) %}
                        <li class="nav-item dropdown mt-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'Profile'|trans }}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Logout'|trans }}</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


            <main role="main" class="col-12 col-md-9 col-xl-8 offset-xl-1 py-md-3 px-md-5 px-xl-0">
                {% for label, messages in app.flashes(['success', 'warning']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}


                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h4">{% block header %}{% endblock %}</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        {% block toolbar %}{% endblock %}
                    </div>
                </div>

                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    {{ include('search/_search-modal.html.twig') }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('layout') }}
{% endblock %}
