{% extends 'layout.html.twig' %}
{% trans_default_domain 'dashboard' %}

{% block title %}{{ 'Dashboard'|trans }}{% endblock %}

{% block header %}{{ 'Welcome back %username%'|trans({'%username%': app.user.username}) }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="text-muted">{{ 'Recently updated'|trans }}</p>
            {% embed '_table.html.twig' %}
                {% block tbody %}
                    {% for data_flow in recent_data_flows %}
                    <tr>
                        <td><i class="fal {{ iconClass('dataflow') }} fa-fw mr-2 text-gray-300"></i><a href="{{ path('data_flow_show', {id: data_flow.id}) }}">{{ data_flow.name }}</a></td>
                        <td class="text-right">{{ data_flow.updatedAt|date('d/m/Y') }}</td>
                    </tr>
                    {% else %}
                        <tr>
                            <td>{{ 'No recent flows'|trans }}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
            <p class="text-muted mt-md-5">{{ 'Recent jobs'|trans }}</p>
            {% embed '_table.html.twig' %}
                {% block tbody %}
                    {% for job in recent_jobs %}
                        <tr>
                            <td><i class="fal {{ iconClass('job') }} fa-fw mr-2 text-gray-300"></i><a href="{{ path('data_flow_job_show', {id: job.id}) }}">{{ job.id|slice(0, 8) }}</a></td>
                            <td>{{ '%dataSource% on %dataFlow%'|trans({'%dataSource%': job.dataFlow.dataSource.name, '%dataFlow%': job.dataFlow.name}) }}</td>
                            <td>
                                <i class="fas {{ iconClass(job.status) }} mr-1
                                    {% if job.status == 'cancelled' %}
                                        text-warning
                                    {% elseif job.status == 'failed' %}
                                        text-danger
                                    {% elseif job.status == 'completed' %}
                                        text-success
                                    {% else %}
                                        text-dark
                                    {% endif %}
                                "></i>
                                 {{ job.status|capitalize|trans }}

                            <td class="text-right">{{ job.updatedAt|date('d/m/Y') }}</td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ 'No recent jobs'|trans }}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
    <div class="row my-md-5">
        <div class="col-12">
            <a href="{{ path('data_source_new') }}" class="btn btn-outline-secondary btn-lg px-5 mr-3">{{ 'Add data source'|trans }}</a><a class="btn btn-primary btn-lg px-5" href="{{ path('data_flow_new') }}">{{ 'Add data flow'|trans }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-muted">{{ 'Resources'|trans }}</p>
            <a class="mr-5" href="https://github.com/itk-dev/datatidy">Project on Github</a><a href="https://opendata.dk">OpenData.dk website</a>
        </div>
    </div>
{% endblock %}
