{% extends 'layout.html.twig' %}
{% trans_default_domain 'user' %}

{% block title 'Delete user'|trans %}

{% block header 'Delete user'|trans %}

{% block toolbar %}
    <a class="btn btn-secondary btn-sm" href="{{ path('user_index') }}">{{ 'Back to list'|trans }}</a>
{% endblock %}

{% block content %}
    {% if messages is defined %}
        <h1>{{ 'User cannot be deleted'|trans }}</h1>

        {% for message in messages %}
            <div class="alert alert-{{ message.type }}">{{ message.message }}</div>
        {% endfor %}

        {% if is_anonymized %}
            <div class="alert alert-info">{{ 'User is anonymized'|trans }}</div>
        {% elseif anonymize_form is defined %}
            {{ form_start(anonymize_form) }}
                <button class="btn btn-danger">{{ 'Anonymize user'|trans }}</button>
            {{ form_end(anonymize_form) }}
        {% endif %}
    {% elseif form is defined %}
        <div class="bg-white p-3 shadow-sm">
            <p>{{ 'Confirm that you want to delete the user %user%.'|trans({'%user%': user.username}) }}</p>

            {{ form_start(form) }}
                <button class="btn btn-danger">{{ 'Delete user'|trans }}</button>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
