{% extends 'layout.html.twig' %}
{% trans_default_domain 'user' %}

{% block title 'Users'|trans %}

{% block header 'Users'|trans %}

{% block toolbar %}
    <a class="btn btn-success btn-sm" href="{{ path('user_new') }}">{{ 'New user'|trans }}</a>
{% endblock %}

{% set use_paginator = users.paginatorOptions is defined %}

{% block content %}
    {% embed '_table.html.twig' %}
        {% macro render_roles(roles) %}
            {% for role in roles -%}
                {% if not loop.first %},{% endif %}
                {{ role|replace({'ROLE_': ''})|replace({'_': ' '})|lower|capitalize }}
            {%- endfor %}
        {% endmacro %}

        {% block thead %}
            <tr>
                <th>{{ use_paginator ? knp_pagination_sortable(users, 'Email'|trans, 'e.email') : 'Email'|trans }}</th>
                <th>{{ use_paginator ? knp_pagination_sortable(users, 'Enabled'|trans, 'e.enabled') : 'Enabled'|trans }}</th>
                <th>{{ use_paginator ? knp_pagination_sortable(users, 'LastLogin'|trans, 'e.lastLogin') : 'LastLogin'|trans }}</th>
                <th>{{ 'Roles'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.email }}</a></td>
                    <td>{{ user.enabled ? 'Yes'|trans : 'No'|trans }}</td>
                    <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.roles ? _self.render_roles(user.roles) }}</td>
                    <td>
                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fal {{ iconClass('edit') }} fa-fw mr-2"></i>{{ 'Edit'|trans }}</a>
                        <a href="{{ path('user_delete', {'id': user.id}) }}"><i class="fal {{ iconClass('delete') }} fa-fw mr-2"></i>{{ 'Delete'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'No users found'|trans }}</td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block table_footer %}
            {% if use_paginator %}
                <div class="navigation">
                    {{ knp_pagination_render(users) }}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
