{% extends 'layout.html.twig' %}
{% trans_default_domain 'user' %}

{% block title 'Users'|trans %}

{% block header 'Users'|trans %}

{% block toolbar %}
    <a class="btn btn-success btn-sm" href="{{ path('user_new') }}">{{ 'New user'|trans }}</a>
{% endblock %}

{% block content %}
    {% embed '_table.html.twig' %}
        {% block thead %}
            <tr>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Enabled'|trans }}</th>
                <th>{{ 'LastLogin'|trans }}</th>
                <th>{{ 'Roles'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        {% endblock %}
        {% block tbody %}
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.email }}</a></td>
                    <td>{{ user.enabled ? 'Yes'|trans : 'No'|trans }}</td>
                    <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                    <td>
                        <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fal {{ iconClass('edit') }} fa-fw mr-2"></i>{{ 'Edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'No users found'|trans }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
