{% extends 'layout.html.twig' %}
{% trans_default_domain 'user' %}

{% block title 'User'|trans %}

{% block header 'User'|trans %}

{% block toolbar %}
    <a class="btn btn-secondary btn-sm" href="{{ path('user_index') }}">{{ 'Back to list'|trans }}</a>
    <a class="btn btn-primary ml-3 btn-sm" href="{{ path('user_edit', {'id': user.id}) }}">{{ 'Edit'|trans }}</a>
{% endblock %}

{% block content %}
    {% embed '_table.html.twig' %}
        {% block tbody %}
            <tr>
                <th>{{ 'Email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>{{ 'Enabled'|trans }}</th>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'Roles'|trans }}</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
